1.Discuss string slicing an provide with example.

String slicing in Python is a way to extract a subset of characters from a string. It allows you to create a "slice" of a string by specifying a start index, an end index, and an optional step. The syntax for string slicing is:

syntax
   
   string[start:end:step]


Here's what each parameter means:

start: The index from where the slice begins (inclusive).
end: The index where the slice ends (exclusive).
step: The interval or jump between characters. If omitted, it defaults to 1.

In [ ]:
#Examples Let's go through some examples to understand string slicing better.

#Basic Slicing

text = "Hello, World!"

# Slice from index 0 to 5 (end index 5 is exclusive)
print(text[0:5])  # Output: "Hello"

# Slice from index 7 to 12
print(text[7:12])

Hello
World

In [ ]:
#Using Negative Indexes Python allows negative indexing, which counts from the end of the string. For instance, -1 is the last character, -2 is the second last, and so on.

# Slice the last 6 characters
print(text[-6:])

World!

In [ ]:
#Skipping Characters with Step The step parameter lets you specify how many characters to skip.

# Slice every second character from index 0 to 12
print(text[0:12:2])

Hlo ol

In [ ]:
#Reversing a String with Slicing Using a negative step can reverse a string.

# Reverse the entire string
print(text[::-1])

!dlroW ,olleH

In [ ]:
#Omitting Start or End If you omit start, it defaults to the beginning of the string. If you omit end, it defaults to the end of the string.

# Slice from start to index 5
print(text[:5])  # Output: "Hello"

# Slice from index 7 to the end
print(text[7:])

Hello
World!

2.Explain the key features of  list in python.

In Python, a list is a versatile and widely used data structure that stores an ordered collection of items. Lists allow for various operations, including adding, removing, and modifying elements, which makes them extremely useful in Python programming. Here are the key features of lists in Python:

 **Ordered Collection**

Lists maintain the order of items as they are added. The position (index) of each item is fixed relative to others in the list.
You can access items by their index, where the first item has an index of 0.

In [ ]:
my_list = ["apple", "banana", "cherry"]
print(my_list[0])

apple

 **Mutable (Changeable)**


Lists are mutable, which means you can change, add, or remove elements after the list has been created.
Elements can be changed using indexing, and you can append, remove, or insert items as needed.
python
Copy code

In [ ]:
my_list = ["apple", "banana", "cherry"]
my_list[1] = "blueberry"
print(my_list)

['apple', 'blueberry', 'cherry']

# Heterogeneous Elements (Different Data Types)

Lists can contain elements of different data types, including integers, strings, floats, other lists, and even complex data structures.

In [ ]:
my_list = [1, "Hello", 3.14, [1, 2, 3]]
print(my_list)

[1, 'Hello', 3.14, [1, 2, 3]]

# Dynamic Sizing

Lists in Python are dynamically sized, meaning they can grow or shrink as items are added or removed.

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

***Supports Various Methods for Manipulation***

Lists come with a wide range of built-in methods, such as:

.append() - Adds an element to the end of the list.

.insert() - Inserts an element at a specified index.

.remove() - Removes the first occurrence of a specified element.

.pop() - Removes and returns the element at a specified index (default is the last).

.sort() - Sorts the elements in ascending order (can be customized).

.reverse() - Reverses the order of the elements in place.

.count() - Counts occurrences of a specified element.

.index() - Returns the index of the first occurrence of a specified element.

In [ ]:
my_list = [3, 1, 4, 1, 5]
my_list.sort()
print(my_list)

[1, 1, 3, 4, 5]

In [ ]:
my_list = [3, 1, 4, 1, 5]
my_list.append("hello")# add string through append
print(my_list)

[3, 1, 4, 1, 5, 'hello']

***Supports Slicing***

Lists support slicing, allowing access to a subset of items by specifying a range of indices.

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list[1:4])

[2, 3, 4]

In [ ]:
#jumping
my_list = [1, 2, 3, 4, 5]
print(my_list[::2])

[1, 3, 5]

***Nesting and Multidimensional Lists***

Lists can contain other lists, allowing for the creation of nested or multidimensional lists, which is useful for representing matrices or complex data structures.

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix[1][2])

6

***Iterability***

Lists are iterable, meaning you can use loops to traverse elements easily. This feature makes lists suitable for a wide range of applications.

In [ ]:
for item in my_list:
    print(item)

1
2
3
4
5

***Supports List Comprehensions***

Python lists support a concise syntax for creating lists based on existing lists, known as list comprehension, which is useful for applying a function or condition to all items in a list.

In [ ]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

**3.Describe how to access,modify and delete element in a list with exmples**

In Python, lists are versatile and allow access, modification, and deletion of elements using indices, methods, and slicing. Here's a breakdown:

Accessing Elements
Using Indexing:

Positive indices start at 0 (left to right).

Negative indices start at -1 (right to left).

In [ ]:
my_list = [10, 20, 30, 40, 50]
print(my_list[0])  # Access first element: 10
print(my_list[-1])  # Access last element: 50

10
50

2.Using Slicing:

Access multiple elements by specifying a start and end index.
python
Copy code

In [ ]:
print(my_list[1:4])  # Access elements from index 1 to 3: [20, 30, 40]
print(my_list[:3])   # First three elements: [10, 20, 30]
print(my_list[::2])  # Every second element: [10, 30, 50]

[20, 30, 40]
[10, 20, 30]
[10, 30, 50]

Modifying Elements

Using Indexing:


Assign a new value to a specific position.

In [ ]:
my_list[1] = 25
print(my_list)

[10, 25, 30, 40, 50]

Using Slicing:

Replace multiple elements.

In [ ]:
my_list[2:4] = [35, 45]
print(my_list)

[10, 25, 35, 45, 50]

Using Methods:

Append: Add to the end of the list.

In [ ]:
my_list.append(60)
print(my_list)

[10, 25, 35, 45, 50, 60]

Insert: Add at a specific position.

In [ ]:
my_list.insert(1, 15)
print(my_list)  # Output: [10, 15, 25, 35, 45, 50, 60]

[10, 15, 25, 35, 45, 50, 60]

Deleting Elements

Using Indexing:

Remove by del keyword.

In [ ]:
del my_list[1]
print(my_list)

[10, 25, 35, 45, 50, 60]

Using Methods:

pop(): Removes and returns the element at a specified index (default is the last element).

In [ ]:
removed_element = my_list.pop(2)
print(my_list)          # Output: [10, 25, 45, 50, 60]
print(removed_element)

[10, 25, 45, 50, 60]
35

remove(): Removes the first occurrence of a specified value.

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.remove(50)
print(my_list)

[10, 20, 30, 40]

Clear the Entire List:

Use clear() to remove all elements.

In [ ]:
my_list.clear()
print(my_list)

[]

Using Slicing:

Delete multiple elements.

In [ ]:
my_list = [10, 20, 30, 40, 50]
del my_list[1:4]
print(my_list)

[10, 50]

***4.Compare and contrast tuples and lists with examples***

Comparison Between Tuples and Lists

Tuples and lists are two of the most commonly used data structures in Python, both capable of storing collections of items. However, they differ significantly in terms of properties, use cases, and functionality.


             List	                                       tuple


	        1.Mutable (can be modified after creation).   1.	Immutable (cannot be modified after creation).
          
          2.Syntax	Created using square brackets [].	  2.Created using parentheses ().
          
          3.Performance	Slower for operations due to mutability.	3.Faster due to immutability.

          4.Storage	Uses more memory due to dynamic resizing.
                                  4.Uses less memory as it's fixed in size.

          5.Use Case	Ideal for data that changes frequently.	 5.Ideal for fixed or constant data.

          6.Methods	Many built-in methods like append(), remove(), etc.	6.Fewer built-in methods like count(), index().

          7.Unpacking	Both support unpacking, but tuples are often used for multiple variable assignments.	-
          
          8.Hashable	Not hashable, cannot be used as dictionary keys.	8.8.Hashable if it contains only hashable items, usable as dictionary keys.
           
           9.Iteration	Slower iteration due to mutability.	9.Faster iteration.


Examples of Tuples and Lists

In [ ]:
#1. Creating a List and a Tuple
# List
my_list = [1, 2, 3]
print(my_list)

# Tuple
my_tuple = (1, 2, 3)
print(my_tuple)

[1, 2, 3]
(1, 2, 3)

In [ ]:
#2. Mutability
# List - can be modified
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

# Tuple - cannot be modified
try:
    my_tuple = (1, 2, 3)
    my_tuple[0] = 10  # This will raise an error
except TypeError as e:
    print(e)

[10, 2, 3]
'tuple' object does not support item assignment

In [ ]:
#3. Methods
# List Methods
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

# Tuple Methods
my_tuple = (1, 2, 3)
print(my_tuple.count(2))
print(my_tuple.index(2))

[1, 2, 3, 4]
1
1

In [ ]:
#5. Use as Dictionary Keys
# Tuple as Dictionary Key
my_dict = {my_tuple: "Tuple Key"}
print(my_dict)  # Output: {(1, 2, 3): 'Tuple Key'}

# List as Dictionary Key - Not Allowed
try:
    my_dict = {my_list: "List Key"}
except TypeError as e:
    print(e)  # Output: unhashable type: 'list'

{(1, 2, 3): 'Tuple Key'}
unhashable type: 'list'

When to Use?

Lists: When you need a collection of items that might change (e.g., a shopping cart).

Tuples: When you have a fixed set of related data (e.g., coordinates (x, y) or days of the week).

***5.Describe the key features of sets and provide examples of thier use***

Key Features of Sets in Python

A set is a built-in Python data structure that stores unordered, unique, and immutable items. It is useful for operations involving membership tests, removing duplicates, and mathematical set operations.

Key Features

Unordered:

The elements in a set are not stored in any particular order.
There is no indexing or slicing like in lists or tuples.

Unique Elements:

A set automatically removes duplicate values when created.

In [ ]:
my_set = {1, 2, 2, 3}
print(my_set)

{1, 2, 3}

Mutable:

You can add or remove elements from a set after its creation.
The elements themselves must be immutable (e.g., numbers, strings, tuples).

Efficient Membership Testing:

Checking if an element is in a set is very fast (average time complexity
𝑂
(
1
)
O(1)).


Supports Mathematical Set Operations:

Includes union, intersection, difference, and symmetric difference.


Dynamic Size:

A set’s size can grow or shrink dynamically as items are added or removed.
Defined Methods:

Supports methods like add(), remove(), union(), intersection(), etc.

In [ ]:
#Examples of Using Sets
#1. Creating a Set
# Using Curly Braces
my_set = {1, 2, 3, 4}
print(my_set)

# Using the set() Function
my_set = set([1, 2, 2, 3])
print(my_set)

{1, 2, 3, 4}
{1, 2, 3}

In [ ]:
#2. Adding and Removing Elements
my_set = {1, 2, 3}

# Add an element
my_set.add(4)
print(my_set)

# Remove an element
my_set.remove(2)
print(my_set)

# Use discard() to avoid errors if element doesn't exist
my_set.discard(5)  # No error
print(my_set)

{1, 2, 3, 4}
{1, 3, 4}
{1, 3, 4}

In [ ]:
#3. Membership Testing
my_set = {1, 2, 3}
print(2 in my_set)
print(5 in my_set)

True
False

In [ ]:
#4. Mathematical Set Operations
A = {1, 2, 3}
B = {3, 4, 5}

# Union: Combine all unique elements
print(A | B)
print(A.union(B))

# Intersection: Common elements
print(A & B)  # Output: {3}
print(A.intersection(B))  # Output: {3}

# Difference: Elements in A but not in B
print(A - B)  # Output: {1, 2}
print(A.difference(B))

# Symmetric Difference: Elements in A or B but not both
print(A ^ B)  # Output: {1, 2, 4, 5}
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{3}
{1, 2}
{1, 2}
{1, 2, 4, 5}
{1, 2, 4, 5}

In [ ]:
#5. Removing Duplicates from a List
my_list = [1, 2, 2, 3, 3, 4]
unique_set = set(my_list)
unique_list = list(unique_set)
print(unique_list)

[1, 2, 3, 4]

In [ ]:
#6. Frozen Sets
#A frozen set is an immutable version of a set. It is hashable and can be used as a dictionary key or stored in other sets.
frozen = frozenset([1, 2, 3])
print(frozen)  # Output: frozenset({1, 2, 3})

# Frozen sets are immutable
try:
    frozen.add(4)  # Raises an error
except AttributeError as e:
    print(e)

frozenset({1, 2, 3})
'frozenset' object has no attribute 'add'

Use Cases of Sets
Removing Duplicates:

Quickly remove duplicates from a collection.

In [ ]:
names = ["Alice", "Bob", "Alice", "Eve"]
unique_names = set(names)
print(unique_names)

{'Bob', 'Eve', 'Alice'}

Finding Common Elements:

Determine overlapping items in two datasets.

In [ ]:
group1 = {"Alice", "Bob", "Charlie"}
group2 = {"Bob", "Eve", "Charlie"}
print(group1 & group2)

{'Bob', 'Charlie'}

Efficient Membership Testing:

Use sets to check if an item exists.

In [ ]:
valid_ids = {101, 102, 103}
print(102 in valid_ids)

True

Mathematical Operations:

Solve problems requiring unions, intersections, or differences.
Sets are powerful and efficient tools for managing collections of unique, unordered items in Python.

*6.Discuss the use cases of tuples and setts in python programming.*

Use Cases of Tuples and Sets in Python

Both tuples and sets are fundamental data structures in Python, each suited for specific scenarios based on their properties. Here’s a discussion on their key use cases:

Use Cases of Tuples

A tuple is an immutable, ordered collection of items. It is used when the data should not change after creation or when sequence and structure are important.

1. Immutable Data Storage

Use tuples to store data that should remain constant throughout the program.

In [ ]:
days_of_week = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
print(days_of_week)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

 Return Multiple Values from Functions

Functions can return multiple values in the form of a tuple.

In [ ]:
def get_user_info():
    return "Alice", 25, "Engineer"

name, age, profession = get_user_info()
print(name, age, profession)

Alice 25 Engineer

3. Dictionary Keys

Tuples are hashable (if their elements are hashable), so they can be used as dictionary keys.

In [ ]:
location = {(37.7749, -122.4194): "San Francisco", (40.7128, -74.0060): "New York"}
print(location[(37.7749, -122.4194)])

San Francisco

4. Fixed-Size Grouping

Tuples group related data items that belong together and have a fixed structure.

In [ ]:
employee_record = ("Alice", "HR", 50000)
print(employee_record)

('Alice', 'HR', 50000)

5. Data Integrity in Iteration

Using tuples in loops ensures that the collection remains unchanged.

In [ ]:
immutable_data = (1, 2, 3)
for num in immutable_data:
    print(num)

1
2
3

6. Memory Efficiency

Tuples use less memory than lists, making them a better choice for large, constant datasets.

In [ ]:
large_tuple = (1,) * 1000000  # Memory-efficient compared to a list

7. Named Tuples for Readability

Named tuples provide structure and make data more readable.

In [ ]:
from collections import namedtuple
Point = namedtuple("Point", ["x", "y"])
p = Point(10, 20)
print(p.x, p.y)

10 20

Use Cases of Sets

A set is an unordered, mutable collection of unique items. It is ideal for operations that involve uniqueness, membership tests, or mathematical set operations.

1. Removing Duplicates
Sets automatically filter out duplicate values.

In [ ]:
items = [1, 2, 2, 3, 4, 4, 5]
unique_items = set(items)
print(unique_items)

{1, 2, 3, 4, 5}

2. Efficient Membership Testing

Sets provide fast membership tests compared to lists.

In [ ]:
valid_ids = {101, 102, 103}
print(102 in valid_ids)
print(105 in valid_ids)

True
False

3. Mathematical Set Operations

Perform operations like union, intersection, difference, and symmetric difference.

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}

print(A | B)  # Union: {1, 2, 3, 4, 5}
print(A & B)  # Intersection: {3}
print(A - B)  # Difference: {1, 2}

{1, 2, 3, 4, 5}
{3}
{1, 2}

4. Use in Filtering and Deduplication

Quickly filter or deduplicate elements.

In [ ]:
emails = ["a@example.com", "b@example.com", "a@example.com"]
unique_emails = list(set(emails))
print(unique_emails)  # Output: ['a@example.com', 'b@example.com']

['b@example.com', 'a@example.com']

6. Group Membership and Categorization

Useful for grouping and testing shared membership.

In [ ]:
vip_users = {"Alice", "Bob", "Eve"}
new_users = {"Eve", "Mallory", "Trent"}
common_users = vip_users & new_users
print(common_users)

{'Eve'}

Tuples

Represent structured, ordered, immutable data.

Useful for fixed data, like coordinates or constant groupings.

Can be used as dictionary keys if immutable.

Maintain the order of items.


Sets

Represent unordered, unique collections.

Useful for deduplication and membership tests.

Cannot contain mutable elements (e.g., lists).

Do not maintain order.

*7.Describe how to add ,modify,and delete items in dictionary with example*

In Python, dictionaries are mutable data structures used to store data in key-value pairs. You can add, modify, and delete items in a dictionary using various methods.

1. Adding Items to a Dictionary

Using Bracket Notation: Assign a value to a new key.

In [ ]:
my_dict = {"name": "Alice", "age": 25}
my_dict["city"] = "New York"  # Add a new key-value pair
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

Using update() Method: Add multiple key-value pairs or update existing ones.

In [ ]:
my_dict.update({"country": "USA", "profession": "Engineer"})
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA', 'profession': 'Engineer'}

2. Modifying Items in a Dictionary

Updating an Existing Key: Use the key to assign a new value.

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
my_dict["age"] = 30  # Modify the value of an existing key
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

3. Deleting Items from a Dictionary

Using del Keyword: Delete a specific key-value pair.

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
del my_dict["city"]
print(my_dict)

{'name': 'Alice', 'age': 25}

In [ ]:
#Using pop() Method: Remove a key and get its value.
removed_value = my_dict.pop("age")
print(my_dict)
print(removed_value)

{'name': 'Alice', 'city': 'New York'}
30

In [ ]:
#Using popitem() Method: Remove the last inserted key-value pair (useful for Python 3.7+ where dictionaries are ordered).
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
last_item = my_dict.popitem()
print(my_dict)
print(last_item)

{'name': 'Alice', 'age': 25}
('city', 'New York')

In [ ]:
#Using clear(): Remove all key-value pairs.
my_dict.clear()
print(my_dict)

{}

In [ ]:
#Example Code
# Create a dictionary
person = {"name": "John", "age": 28}

# Add a new key-value pair
person["city"] = "London"
print(person)

# Modify an existing key
person["age"] = 29
print(person)

# Delete a specific key
del person["city"]
print(person)

# Remove and get the value of a key
removed = person.pop("age")
print(removed)
print(person)

# Add multiple keys and clear all
person.update({"profession": "Doctor", "country": "UK"})
print(person)

person.clear()
print(person)

{'name': 'John', 'age': 28, 'city': 'London'}
{'name': 'John', 'age': 29, 'city': 'London'}
{'name': 'John', 'age': 29}
29
{'name': 'John'}
{'name': 'John', 'profession': 'Doctor', 'country': 'UK'}
{}

***8.Discuss the imortence of dictionary key being immutable and provide examples***

Importance of Dictionary Keys Being Immutable in Python


In Python, dictionary keys must be immutable and hashable. This is essential because dictionaries use a hash table internally for fast key-value lookups. If keys were mutable, their hash values could change, leading to unpredictable behavior and difficulty maintaining the integrity of the dictionary structure.

Why Dictionary Keys Must Be Immutable?

Hash Table Integrity:

A dictionary uses a hash table where the hash of the key determines its position.
If a key were mutable and its hash value changed after being added, the dictionary could no longer locate the value associated with the key.
Consistency and Reliability:

Immutable keys ensure that once a key-value pair is inserted, it remains consistent throughout the dictionary's lifecycle.
This avoids issues like overwriting or losing data unintentionally.

Performance:

Hash tables provide
𝑂
(
1
)
O(1) average time complexity for lookups.
Immutable keys ensure that the hash table structure remains stable, maintaining the efficiency of lookups.

Immutable Keys

Immutable types like int, str, tuple (with immutable elements), and frozenset are valid keys.

In [ ]:
# Valid dictionary keys
my_dict = {
    1: "Integer key",
    "name": "String key",
    (10, 20): "Tuple key",
    frozenset({1, 2, 3}): "Frozen set key"
}
print(my_dict)

{1: 'Integer key', 'name': 'String key', (10, 20): 'Tuple key', frozenset({1, 2, 3}): 'Frozen set key'}

Mutable Keys Are Not Allowed
Mutable types like list or set cannot be used as dictionary keys.

In [ ]:
try:
    my_dict = {[1, 2]: "List key"}  # This raises an error
except TypeError as e:
    print(e)

unhashable type: 'list'

Illustrating the Problem with Mutable Keys

Why Mutable Keys Would Fail:

Consider if a list were allowed as a key:

In [ ]:
# Hypothetical scenario (this will not work in Python)
my_dict = {}
key = [1, 2, 3]
my_dict[key] = "Value"

# If the key changes:
key.append(4)  # Key changes its hash value
print(my_dict[key])  # Dictionary lookup fails!

TypeError: unhashable type: 'list'

Using Immutable Structures Instead of Mutable Ones

If you need a key based on a collection of values that might change, use an immutable equivalent like a tuple or frozenset.

In [ ]:
# Using a tuple instead of a list
key = (1, 2, 3)
my_dict = {key: "Tuple as key"}
print(my_dict[key])

Tuple as key

Custom Immutable Objects as Keys

You can create your own immutable objects (e.g., using a class) and use them as keys.

In [ ]:
class ImmutableKey:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __hash__(self):
        return hash((self.x, self.y))  # Hash based on immutable attributes

    def __eq__(self, other):
        return (self.x, self.y) == (other.x, other.y)

key1 = ImmutableKey(10, 20)
key2 = ImmutableKey(10, 20)
my_dict = {key1: "Custom object as key"}
print(my_dict[key2])

Custom object as key

Summary

Immutability of keys ensures dictionaries remain consistent, reliable, and efficient.
Mutable objects like lists and sets are disallowed as keys because they can change, causing issues in locating or updating dictionary entries.
Use immutable equivalents like tuple or frozenset when a collection of values is required as a key.