1.Write a code to reverse a string.

In [ ]:
s = "hello world"

In [ ]:
print(s[::-1])

dlrow olleh

2.Write a code to count the number of vowels in a string.

In [ ]:
# Function to count the number of vowels in a string
def count_vowels(string):
    vowels = "aeiouAEIOU"  # Define vowels (both lowercase and uppercase)
    count = sum(1 for char in string if char in vowels)
    return count

# Example usage
input_string = "Hello, how are you?"
vowel_count = count_vowels(input_string)
print(f"Input String: {input_string}")
print(f"Number of Vowels: {vowel_count}")

Input String: Hello, how are you?
Number of Vowels: 7

***3.Write a code to check if a given string is palindrome or not.***

In [ ]:
# Function to check if a string is a palindrome
def is_palindrome(s):
    # Reverse the string and compare it with the original
    return s == s[::-1]

# Example usage
input_string = "madam"
result = is_palindrome(input_string)
print(f"Input String: '{input_string}'")
print(f"Is Palindrome: {result}")

Input String: 'madam'
Is Palindrome: True

4.Write a code to check if two given strings  anagrams od each other.

In [ ]:
# Function to check if two strings are anagrams
def are_anagrams(str1, str2):
    # Clean and sort both strings
    cleaned_str1 = ''.join(sorted(str1.replace(" ", "").lower()))
    cleaned_str2 = ''.join(sorted(str2.replace(" ", "").lower()))
    # Compare the sorted versions
    return cleaned_str1 == cleaned_str2

# Example usage
string1 = "listen"
string2 = "silent"
result = are_anagrams(string1, string2)
print(f"String 1: '{string1}'")
print(f"String 2: '{string2}'")
print(f"Are Anagrams: {result}")

String 1: 'listen'
String 2: 'silent'
Are Anagrams: True

***5.Write a code to find all occurances of a given substrings within another string. ***

In [ ]:
# Function to find all occurrences of a substring in a string
def find_all_occurrences(string, substring):
    occurrences = []
    start = 0
    while True:
        # Find the next occurrence of the substring
        start = string.find(substring, start)
        if start == -1:  # No more occurrences
            break
        occurrences.append(start)
        start += 1  # Move past the last found occurrence
    return occurrences

# Example usage
main_string = "This is a test. Testing is fun. Test it again."
substring = "test"
positions = find_all_occurrences(main_string.lower(), substring.lower())
print(f"Main String: '{main_string}'")
print(f"Substring: '{substring}'")
print(f"Positions: {positions}")

6.Write a code to a perform basic string  compression using the counts of repeated characters.

In [ ]:
# Function to perform basic string compression
def compress_string(s):
    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:  # If the current character is the same as the previous one
            count += 1
        else:
            # Append the character and its count
            compressed.append(s[i - 1] + str(count))
            count = 1  # Reset count

    # Add the last character and its count
    if s:
        compressed.append(s[-1] + str(count))

    # Convert the list into a compressed string
    compressed_string = ''.join(compressed)
    # Return the original string if the compressed one is not smaller
    return compressed_string if len(compressed_string) < len(s) else s

# Example usage
input_string = "aabcccccaaa"
result = compress_string(input_string)
print(f"Original String: '{input_string}'")
print(f"Compressed String: '{result}'")

Original String: 'aabcccccaaa'
Compressed String: 'a2b1c5a3'

7.Write a code to determine if a string  has all unique characters.

In [ ]:
# Function to check if a string has all unique characters
def has_unique_characters(s):
    # Use a set to track seen characters
    seen_characters = set()
    for char in s:
        if char in seen_characters:
            return False  # Duplicate character found
        seen_characters.add(char)
    return True  # All characters are unique

# Example usage
input_string = "abcdefg"
result = has_unique_characters(input_string)
print(f"Input String: '{input_string}'")
print(f"All Unique Characters: {result}")

Input String: 'abcdefg'
All Unique Characters: True

8.Write a code to convert a given string to uppercrease or lowercrease.

In [ ]:
# Function to convert string to uppercase or lowercase
def convert_case(s, to_upper=True):
    if to_upper:
        return s.upper()  # Convert to uppercase
    else:
        return s.lower()  # Convert to lowercase

# Example usage
input_string = "Hello, World!"
print("Original String:", input_string)

# Convert to uppercase
uppercase_string = convert_case(input_string, to_upper=True)
print("Uppercase:", uppercase_string)

# Convert to lowercase
lowercase_string = convert_case(input_string, to_upper=False)
print("Lowercase:", lowercase_string)

Original String: Hello, World!
Uppercase: HELLO, WORLD!
Lowercase: hello, world!

9.Write a code to count the number of words in a string.

In [ ]:
def count_words(input_string):
    # Split the string into words using whitespace as the delimiter
    words = input_string.split()
    # Return the number of words
    return len(words)

# Example usage
text = "Write a code to count the number of words in a string."
word_count = count_words(text)
print(f"The number of words is: {word_count}")

The number of words is: 12

10.Write a code to concatenate teo string without using the + oparator.

In [ ]:
def concatenate_strings(string1, string2):
    # Use join to concatenate strings
    result = "".join([string1, string2])
    return result

# Example usage
str1 = "Hello, "
str2 = "World!"
concatenated_string = concatenate_strings(str1, str2)
print("Concatenated String:", concatenated_string)

Concatenated String: Hello, World!

11.Write a code to remove all occurances of a specific element from list.

In [ ]:
def remove_all_occurrences(input_list, element_to_remove):
    # Use list comprehension to filter out the specified element
    return [item for item in input_list if item != element_to_remove]

# Example usage
my_list = [1, 2, 3, 4, 3, 5, 3]
element = 3
result_list = remove_all_occurrences(my_list, element)
print("Updated List:", result_list)

Updated List: [1, 2, 4, 5]

12.Implement a code to find the second largest number in given list of integers.

In [ ]:
def find_second_largest(numbers):
    if len(numbers) < 2:
        return "List must contain at least two distinct numbers."

    # Remove duplicates to handle cases with repeated numbers
    unique_numbers = list(set(numbers))

    if len(unique_numbers) < 2:
        return "No second largest number exists (all numbers are the same)."

    # Sort the unique numbers in descending order
    unique_numbers.sort(reverse=True)

    # Return the second largest number
    return unique_numbers[1]

# Example usage
num_list = [4, 1, 7, 3, 7, 9, 5, 9]
second_largest = find_second_largest(num_list)
print("Second Largest Number:", second_largest)

13.Create a code to count the occurances of each element in a list and return a dictionary with elements keys and thier counts as valves.

In [ ]:
def count_elements(lst):
    """
    Counts the occurrences of each element in the input list.

    Args:
        lst (list): A list of elements to count.

    Returns:
        dict: A dictionary where keys are elements from the list and values are their counts.
    """
    element_counts = {}
    for element in lst:
        if element in element_counts:
            element_counts[element] += 1
        else:
            element_counts[element] = 1
    return element_counts

# Example usage
example_list = [1, 2, 2, 3, 3, 3, 'a', 'b', 'a', 'a']
result = count_elements(example_list)
print(result)

{1: 1, 2: 2, 3: 3, 'a': 3, 'b': 1}

14.Write a code to reverse a list in place without using any built in reverse functions.

In [ ]:
def reverse_list(lst):
    """
    Reverses the input list in place without using built-in reverse functions.

    Args:
        lst (list): A list to be reversed.

    Returns:
        None: The input list is modified in place.
    """
    left = 0
    right = len(lst) - 1

    while left < right:
        # Swap elements at left and right indices
        lst[left], lst[right] = lst[right], lst[left]
        # Move indices towards the center
        left += 1
        right -= 1

# Example usage
example_list = [1, 2, 3, 4, 5]
reverse_list(example_list)
print(example_list)

[5, 4, 3, 2, 1]

15.Implement a code to find and remove duplicates from a list while presenting the original order of elements.

In [ ]:
def remove_duplicates(lst):
    """
    Removes duplicates from the input list while maintaining the original order.

    Args:
        lst (list): A list of elements.

    Returns:
        list: A new list with duplicates removed.
    """
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            result.append(item)
            seen.add(item)
    return result

# Example usage
example_list = [1, 2, 2, 3, 4, 3, 5, 1, 6]
unique_list = remove_duplicates(example_list)
print(unique_list)

[1, 2, 3, 4, 5, 6]

16.Create a code to cheekif a given list is sorted (either in ascending or descending order or )not.



---



---

In [ ]:
def is_sorted(lst):
    """
    Checks if the given list is sorted in ascending, descending, or unsorted order.

    Args:
        lst (list): A list of elements to check.

    Returns:
        str: 'Ascending' if the list is sorted in ascending order,
             'Descending' if sorted in descending order,
             'Unsorted' if neither.
    """
    if all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1)):
        return "Ascending"
    elif all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1)):
        return "Descending"
    else:
        return "Unsorted"

# Example usage
example_list1 = [1, 2, 3, 4, 5]
example_list2 = [5, 4, 3, 2, 1]
example_list3 = [1, 3, 2, 5, 4]

print(is_sorted(example_list1))  # Output: Ascending
print(is_sorted(example_list2))  # Output: Descending
print(is_sorted(example_list3))  # Output: Unsorted

Ascending
Descending
Unsorted

17. Write a code to merge two sorted list  single  sorted lists .

In [ ]:
def merge_sorted_lists(list1, list2):

    merged_list = []
    i, j = 0, 0  # Pointers to traverse both lists

    # Traverse both lists and append the smaller element to the merged list
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # If any elements remain in list1, add them
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    # If any elements remain in list2, add them
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list

# Example usage
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]

# Merge the sorted lists
merged_list = merge_sorted_lists(list1, list2)

# Print the merged list
print("Merged Sorted List:", merged_list)

Merged Sorted List: [1, 2, 3, 4, 5, 6, 7, 8]

18.Implement a code to find the intension of two given lists.

In [ ]:
def find_intersection(list1, list2):
    """
    Finds the intersection of two lists.

    Args:
        list1 (list): First input list.
        list2 (list): Second input list.

    Returns:
        list: A list containing elements common to both input lists.
              Duplicate elements will only appear once in the result.
    """
    set1 = set(list1)
    set2 = set(list2)
    return list(set1 & set2)

# Example usage
list_a = [1, 2, 3, 4, 5]
list_b = [3, 4, 5, 6, 7]

intersection = find_intersection(list_a, list_b)
print("Intersection:", intersection)

Intersection: [3, 4, 5]

19.Create a code to find the union of two lists without duplicates .

In [ ]:
def find_union(list1, list2):
    """
    Finds the union of two lists without duplicates.

    Args:
        list1 (list): First input list.
        list2 (list): Second input list.

    Returns:
        list: A list containing all unique elements from both input lists.
    """
    return list(set(list1) | set(list2))

# Example usage
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]

union = find_union(list_a, list_b)
print("Union:", union)

Union: [1, 2, 3, 4, 5, 6, 7, 8]

20.Write a code to shuffle a given list randomly without using any built -in shuffle function.

In [ ]:
import random

def custom_shuffle(lst):
    """
    Shuffles a given list randomly in place without using any built-in shuffle function.

    Args:
        lst (list): The list to shuffle.

    Returns:
        None: The input list is shuffled in place.
    """
    for i in range(len(lst) - 1, 0, -1):
        # Generate a random index from 0 to i
        j = random.randint(0, i)
        # Swap the elements at indices i and j
        lst[i], lst[j] = lst[j], lst[i]

# Example usage
example_list = [1, 2, 3, 4, 5, 6, 7, 8]
custom_shuffle(example_list)
print("Shuffled List:", example_list)

Shuffled List: [4, 8, 5, 3, 2, 6, 7, 1]

21.Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [ ]:
def common_elements(tuple1, tuple2):
    """
    Finds elements that are common to both input tuples.

    Args:
        tuple1 (tuple): The first input tuple.
        tuple2 (tuple): The second input tuple.

    Returns:
        tuple: A new tuple containing elements common to both tuples.
    """
    # Convert tuples to sets, find intersection, and convert back to a tuple
    return tuple(set(tuple1) & set(tuple2))

# Example usage
tuple_a = (1, 2, 3, 4, 5)
tuple_b = (3, 4, 5, 6, 7)

common = common_elements(tuple_a, tuple_b)
print("Common Elements Tuple:", common)

22.Create a code that prompts the user to enter two sets of integers separeted by commas .Then ,print the intersection of these two sets.

In [ ]:
def get_set_from_input(prompt):
    """
    Prompts the user for a comma-separated string of integers
    and converts it into a set of integers.

    Args:
        prompt (str): The input prompt for the user.

    Returns:
        set: A set of integers provided by the user.
    """
    user_input = input(prompt)
    # Split the input string by commas, strip whitespace, and convert to integers
    return set(map(int, user_input.split(',')))

# Prompt the user for two sets of integers
print("Enter integers for the first set, separated by commas:")
set1 = get_set_from_input("First set: ")

print("Enter integers for the second set, separated by commas:")
set2 = get_set_from_input("Second set: ")

# Compute the intersection of the two sets
intersection = set1 & set2

# Print the result
print("\nIntersection of the two sets:", intersection)

Enter integers for the first set, separated by commas:
First set: 1,2,3,4,5
Enter integers for the second set, separated by commas:
Second set: 3,4,5,6,7

Intersection of the two sets: {3, 4, 5}

23.Write a code to concatenate two tuples,The function should take two tupleas input and return a new tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    """
    Concatenates two tuples and returns a new tuple containing elements from both tuples.

    Args:
        tuple1 (tuple): The first input tuple.
        tuple2 (tuple): The second input tuple.

    Returns:
        tuple: A new tuple containing the elements from both input tuples.
    """
    return tuple1 + tuple2

# Example usage
tuple_a = (1, 2, 3)
tuple_b = (4, 5, 6)

result = concatenate_tuples(tuple_a, tuple_b)
print("Concatenated Tuple:", result)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [ ]:
def get_set_from_input(prompt):
    """
    Prompts the user for a comma-separated string of elements
    and converts it into a set of strings.

    Args:
        prompt (str): The input prompt for the user.

    Returns:
        set: A set of strings provided by the user.
    """
    user_input = input(prompt)
    # Split the input string by commas, strip whitespace, and convert to set
    return set(user_input.split(','))

# Prompt the user to enter two sets of strings
print("Enter elements for the first set of strings, separated by commas:")
set1 = get_set_from_input("First set: ")

print("Enter elements for the second set of strings, separated by commas:")
set2 = get_set_from_input("Second set: ")

# Compute the difference (elements in set1 but not in set2)
difference = set1 - set2

# Print the result
print("\nElements in the first set but not in the second set:", difference)

Enter elements for the first set of strings, separated by commas:
First set: data science,python,hello, satyajit
Enter elements for the second set of strings, separated by commas:
Second set: apple,cherry,banana

Elements in the first set but not in the second set: {'hello', 'python', 'data science', ' satyajit'}

25.Create a code to that takes tuple and how integers as input .The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [ ]:
def get_elements_in_range(input_tuple, start_index, end_index):
    """
    Returns a new tuple containing elements from the original tuple within the specified index range.

    Args:
        input_tuple (tuple): The original tuple.
        start_index (int): The starting index (inclusive).
        end_index (int): The ending index (exclusive).

    Returns:
        tuple: A new tuple containing elements from the original tuple within the specified index range.
    """
    # Ensure the indices are within the valid range
    if start_index < 0 or end_index > len(input_tuple) or start_index >= end_index:
        raise ValueError("Invalid indices provided.")

    return input_tuple[start_index:end_index]

# Example usage
example_tuple = (10, 20, 30, 40, 50, 60, 70, 80)

# Input the start and end indices
start = int(input("Enter the start index: "))
end = int(input("Enter the end index: "))

# Get the elements in the specified range
result = get_elements_in_range(example_tuple, start, end)

# Print the result
print("New tuple with elements in the specified range:", result)

Enter the start index: 2
Enter the end index: 6
New tuple with elements in the specified range: (30, 40, 50, 60)

26.Write a code that prompts the user to input two sets of characters. Then, print the union of these teo sets.

In [ ]:
def get_set_from_input(prompt):
    """
    Prompts the user for a comma-separated string of characters
    and converts it into a set of characters.

    Args:
        prompt (str): The input prompt for the user.

    Returns:
        set: A set of characters provided by the user.
    """
    user_input = input(prompt)
    # Split the input string by commas, strip whitespace, and convert to set
    return set(user_input.split(','))

# Prompt the user to enter two sets of characters
print("Enter characters for the first set, separated by commas:")
set1 = get_set_from_input("First set: ")

print("Enter characters for the second set, separated by commas:")
set2 = get_set_from_input("Second set: ")

# Compute the union of the two sets
union = set1 | set2

# Print the result
print("\nUnion of the two sets:", union)

Enter characters for the first set, separated by commas:
First set: f,o,v,,e
Enter characters for the second set, separated by commas:
Second set: l,t,a,b

Union of the two sets: {'v', '', 'e', 'f', 'b', 't', 'l', 'o', 'a'}

27.Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [ ]:
def find_max_min(input_tuple):
    """
    Returns the maximum and minimum values from the tuple using tuple unpacking.

    Args:
        input_tuple (tuple): A tuple containing integers.

    Returns:
        tuple: A tuple containing the maximum and minimum values.
    """
    # Find the maximum and minimum values using tuple unpacking
    max_value, min_value = max(input_tuple), min(input_tuple)
    return max_value, min_value

# Example usage
input_tuple = tuple(map(int, input("Enter integers separated by commas: ").split(',')))

# Get the maximum and minimum values
max_value, min_value = find_max_min(input_tuple)

# Print the result
print(f"Maximum value: {max_value}")
print(f"Minimum value: {min_value}")

Enter integers separated by commas: 10,12,45,58,23
Maximum value: 58
Minimum value: 10

28.Create a code that defines two sets of integers.Then,print the union,intersection,and difference of these two sets.

In [ ]:
def set_operations(set1, set2):
    """
    Prints the union, intersection, and difference of two sets.

    Args:
        set1 (set): The first set of integers.
        set2 (set): The second set of integers.
    """
    # Union of the sets
    union = set1 | set2
    print("Union of the two sets:", union)

    # Intersection of the sets
    intersection = set1 & set2
    print("Intersection of the two sets:", intersection)

    # Difference of the sets (set1 - set2)
    difference = set1 - set2
    print("Difference (set1 - set2):", difference)

    # Difference of the sets (set2 - set1)
    difference_reverse = set2 - set1
    print("Difference (set2 - set1):", difference_reverse)

# Example sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Perform set operations
set_operations(set1, set2)

Union of the two sets: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of the two sets: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}

29.Write a code that takes a tuple and an elements as input.The function should return the count of occurances of the given element in the tuple.

In [ ]:
def count_occurrences(input_tuple, element):


    return input_tuple.count(element)

# Example usage
input_tuple = tuple(map(int, input("Enter integers for the tuple, separated by commas: ").split(',')))
element = int(input("Enter the element to count: "))

# Get the count of occurrences
count = count_occurrences(input_tuple, element)

# Print the result
print(f"The element {element} appears {count} times in the tuple.")

Enter integers for the tuple, separated by commas: 1,2,2,5,4,3,8,9,5
Enter the element to count: 9
The element 9 appears 1 times in the tuple.

30.Develop a code that prompts the user to input two sets of strings. Then,print symmetric differences of these two sets.

In [ ]:
def get_set_from_input(prompt):

    user_input = input(prompt)
    # Split the input by commas and strip any extra whitespace from each element
    return set(user_input.split(','))

def symmetric_difference_of_sets(set1, set2):

    # Compute the symmetric difference using the ^ operator
    symmetric_difference = set1 ^ set2
    print("Symmetric difference of the two sets:", symmetric_difference)

# Prompt the user to enter two sets of strings
print("Enter strings for the first set, separated by commas:")
set1 = get_set_from_input("First set: ")

print("Enter strings for the second set, separated by commas:")
set2 = get_set_from_input("Second set: ")

# Perform symmetric difference operation
symmetric_difference_of_sets(set1, set2)

Enter strings for the first set, separated by commas:
First set:  apple,banana,orange
Enter strings for the second set, separated by commas:
Second set: banana,kiwi,grape
Symmetric difference of the two sets: {'grape', ' apple', 'orange', 'kiwi'}

31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [ ]:
def word_frequencies(word_list):

    freq_dict = {}

    for word in word_list:
        if word in freq_dict:
            freq_dict[word] += 1  # Increment count if word is already in dictionary
        else:
            freq_dict[word] = 1  # Add word to dictionary if it's not already present

    return freq_dict

# Example usage
input_string = input("Enter a list of words separated by spaces: ")
word_list = input_string.split()  # Split input string into list of words

# Get the word frequencies
frequencies = word_frequencies(word_list)

# Print the result
print("Word frequencies:", frequencies)

Enter a list of words separated by spaces: apple banana apple cherry banana apple
Word frequencies: {'apple': 3, 'banana': 2, 'cherry': 1}

32.Write a code that takes two dictionaries as input and merge them into a single dictionary.If there are common keys,the values should be added together.

In [ ]:
def merge_dicts(dict1, dict2):


    merged_dict = dict1.copy()  # Start with the first dictionary (to avoid modifying it)

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  # Add values for common keys
        else:
            merged_dict[key] = value  # If key doesn't exist, add it

    return merged_dict

# Example usage
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 15, 'c': 5, 'd': 25}

# Merge the dictionaries
merged = merge_dicts(dict1, dict2)

# Print the merged dictionary
print("Merged Dictionary:", merged)

Merged Dictionary: {'a': 10, 'b': 35, 'c': 35, 'd': 25}

33.Write a code to  access value in a nested dictionary.The function should take the dictionary a list of keys as input and return the corresponding value .If  any of the keys do not exists in the dictionary , the function should return none.

In [ ]:
def access_nested_dict_value(nested_dict, keys):

    for key in keys:
        # Check if the key exists in the current dictionary level
        if isinstance(nested_dict, dict) and key in nested_dict:
            nested_dict = nested_dict[key]  # Move to the next level
        else:
            return None  # Return None if the key doesn't exist
    return nested_dict  # Return the final value if all keys exist

# Example usage
nested_dict = {
    'a': {
        'b': {
            'c': 10,
            'd': 20
        },
        'e': 30
    },
    'f': 40
}

keys = ['a', 'b', 'c']
value = access_nested_dict_value(nested_dict, keys)
print(f"Value for keys {keys}: {value}")

keys = ['a', 'x', 'c']
value = access_nested_dict_value(nested_dict, keys)
print(f"Value for keys {keys}: {value}")

Value for keys ['a', 'b', 'c']: 10
Value for keys ['a', 'x', 'c']: None

34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values.You can choose wheather to sort in ascending or descending order.

In [ ]:
def sort_dict_by_value(input_dict, reverse=False):

    # Sort the dictionary by its values and return the result as a new dictionary
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=reverse))
    return sorted_dict

# Example usage
input_dict = {'apple': 5, 'banana': 3, 'cherry': 10, 'date': 2}

# Sorting in ascending order
sorted_dict_asc = sort_dict_by_value(input_dict, reverse=False)
print("Sorted Dictionary (Ascending):", sorted_dict_asc)

# Sorting in descending order
sorted_dict_desc = sort_dict_by_value(input_dict, reverse=True)
print("Sorted Dictionary (Descending):", sorted_dict_desc)

Sorted Dictionary (Ascending): {'date': 2, 'banana': 3, 'apple': 5, 'cherry': 10}
Sorted Dictionary (Descending): {'cherry': 10, 'apple': 5, 'banana': 3, 'date': 2}

35.Write a code that inverts a dictionary,swapping keys and values.Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as  a list in the inverted dictionary.

In [ ]:
def invert_dict(input_dict):

    inverted_dict = {}

    for key, value in input_dict.items():
        if value in inverted_dict:
            # If value is already a key in the inverted dictionary, append the current key to the list
            inverted_dict[value].append(key)
        else:
            # If value is not yet a key in the inverted dictionary, create a new list with the current key
            inverted_dict[value] = [key]

    return inverted_dict

# Example usage
input_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}

# Invert the dictionary
inverted_dict = invert_dict(input_dict)

# Print the inverted dictionary
print("Inverted Dictionary:", inverted_dict)

Inverted Dictionary: {1: ['a', 'c'], 2: ['b'], 3: ['d']}